<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Mystery at Butler Station</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <main>
    {{{ body }}}
  </main>
  

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
  {{!-- <script src="../../public/javascript/login.js"></script> --}}
</body>

</html>


