<div class = "container" style="display:flex">
  <canvas></canvas>

  <div id="quizScreen" >
      <h1>Questions</h1>
      <!--loop through questions array here-->
        <h2 id="question-title"></h2>
        <div id="choices" class="choices"></div>
      
        
    <div id="feedback" class="feedback hide"></div>
  </div>
      
    
</div>
    
   

      
<h1>Welcome to Butler Station!</h1>
<ul>Instructions:
  <li>Use WASD to move your character around the station</li>
  <li>Talk with your Crew mates to answer questions for clues and keys</li>
  <li>Use keys to open doors</li>
<script src = "/javascript/main.js" type = "text/javascript"></script>
<script src = "/javascript/quiz.js" type = "text/javascript"></script>