<canvas></canvas>
<h1>Welcome to Butler Station!</h1>
<ul>Instructions:
  <li>Use WASD to move your character around the station</li>
  <li>Talk with your Crew mates to answer questions for clues and keys</li>
  <li>Use keys to open doors</li>
<script src = "/javascript/main.js" type = "text/javascript"></script>